Flask==3.0.3
Flask-CORS==4.0.0
python-dotenv==1.0.1
requests==2.32.3
PyJWT==2.9.0
bcrypt==4.1.2
PyMySQL==1.1.0
cryptography==42.0.5
flasgger==0.9.7.1
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.34
langchain-ollama==0.1.1
langchain-openai==0.1.22
langchain-text-splitters==0.2.2
langchainhub==0.1.21
langgraph==0.2.14
langgraph-checkpoint==1.0.6
langsmith==0.1.104
loguru==0.7.2
ollama==0.3.1
openai==1.42.0
pydantic==2.8.2
pydantic_core==2.20.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
regex==2024.7.24
rich==13.7.1
six==1.16.0
SQLAlchemy==2.0.32
tenacity==8.5.0
tiktoken==0.7.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.4 