@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5);
  border-radius: 10px;
}
